<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
Witaj w czacie!

<table>
    <tr>
        <th>
            Date
        </th>
        <th>
            Message
        </th>
        <th>
            From
        </th>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.messageDate}">data</td>
        <td th:text="${message.text}">text</td>
        <td th:text="${message.recipient}">recip</td>
    </tr>
</table>

<form action="/showLoggedUsers">

</form>
<br>
<form action="/addMessage">
    <textarea name="messageToAdd" rows="4" cols="70"></textarea>
    <input type="submit" value="Send Message">
</form>
</body>
</html>