<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<script>

</script>
<div>
    <h1>Witaj w czacie!</h1>
    <div>
        <table>
            <tr>
                <th>Data:</th>
                <th>Wiadomosc:</th>
                <th>Autor:</th>
            </tr>
            <tr th:each="message : ${messages}">
                <td th:text="${message.messageDate}">date</td>
                <td th:text="${message.text}">text</td>
                <td th:text="${message.sender}">sender</td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <th>Uzytkownicy:</th>
                <th>Status</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.nick}">nick</td>
                <td th:text="${user.statusTxt}">statusTxt</td>
            </tr>
        </table>
    </div>
    <br>
    <form action="/addMessage">
        <textarea name="messageToAdd" rows="4" cols="70"></textarea>
        <input type="submit" value="Send">
    </form>
</div>
</body>
</html>