<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Rejestracja</h1>
<form action=/registerUser method="post">
    Login:
    <input type="text" name="nick">
    <br>
    Haslo: <input type="password" name="password">
    <br>
    Email: <input type="text" name="email">
    <br>
    <button type="submit">Submit</button>
</form>
<form action="/indexPage">
    <button type="submit">Back</button>
</form>
<p style="color: red" th:text="${existingLoginMsg}"></p>
</body>
</html>
